html, body {
    margin: 0;
    background-color: lightskyblue;
}

#canvas1 {
    display: block;
    margin: auto;
    margin-top: 20px;
    background-color: aquamarine;
}

#control-panel {
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 20px;
    font-size: 30px;
    font-family: sans-serif;
}

#game-over {
    color: red;
    animation: game-over-fading 3s linear alternate infinite;
}

@keyframes game-over-fading {
    100% {
        color: brown;
    }
}