html, body {
    margin: 0;
    background-color: lightskyblue;
}

#canvas1 {
    display: block;
    margin: auto;
    margin-top: 20px;
    background-color: aquamarine;
}

#control-panel {
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 20px;
    font-size: 30px;
    font-family: sans-serif;
    width: 25%;
    max-width: 300px;
    border: 3px solid #2490a3;
    padding: 10px;
}

#control-panel > div {
    margin-bottom: 10px;
}

#title {
    text-align: center;
}

#game-over {
    visibility: hidden;
    color: red;
    animation: game-over-fading 3s linear alternate infinite;
}

@keyframes game-over-fading {
    100% {
        color: brown;
    }
}

#button-container {
    display: flex;
    gap: 5%;
}

#control-panel button {
    font-size: inherit;
    flex-basis: 0;
    flex-grow: 1;
    overflow: hidden;
}